/* 템플릿 견적서 작성 css입니다 */

/* 전체 화면 */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/* 견적서 메인칸 */
.estimate-main-box {
    width: 950px;
    height: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
/* 왼쪽 사이드바 */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    height: 100%;
    background-color: #f1f1f1;
    padding: 20px;
}

.list-group-item {
    background-color: #f1f1f1;
    border: none;
}
.list-group-item.active {
    background-color: #fff;
    color: #495057;
    border: none;
}
/* 오른쪽 입력 폼 */
.form {
    padding: 20px;
    height: 100%;
}
.form-group {
    margin-bottom: 20px;
}
.form-control-lg {
    border-radius: 15px;
    height: 100px;
}
.btn-next {
    margin-top: 20px;
    float: right;
}

/* 오른쪽 입력폼들 감싸는 상자입니다 ~ */
.col-8.form{
    width: 800px;
}

.estimate-footer-box {
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* 다음버튼입니다. */
.estimate-footer-box .estimate-next-btn {
margin-right: 180px;
}

.form-control form-control-lg{
    resize: none;
}

.custom-options-box {
border: 1px solid #ccc;
padding: 10px;
border-radius: 4px;
}

.custom-options-content {
background-color: #f7f7f7;
padding: 10px;
border-radius: 4px;
display: flex;
flex-wrap: wrap;
}

.custom-options-input {
flex: 1 0 100%;
margin-bottom: 10px;
}

.custom-options-title,
.custom-price-amount {
width: 100%;
padding: 5px;
border: 1px solid #ccc;
border-radius: 4px;
}

  .custom-options-work {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
  }

  .custom-options-work option {
    padding: 5px;
  }

.custom-qa-box {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .custom-qa-content {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 4px;
  }
  
  .custom-qa-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  
  .custom-qa-question,
  .custom-qa-answer {
    width: 100%;
  }
  
  .custom-qa-question label,
  .custom-qa-answer label {
    display: block;
    margin-bottom: 5px;
  }
  
  .custom-qa-question input,
  .custom-qa-answer input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .custom-qa-group:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  
  #addQuestionButton {
    display: block;
    margin-top: 10px;
  }

/* 이미지 css입니다 */
.image-preview {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  margin-top: 10px;
  position: relative;
}

.image-preview img {
  max-width: 100%;
  max-height: 100%;
}

.remove-image {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
}

.portfolio-container{
  border: 1px solid #ced4da;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.job-portfolio-container{
  height: 80px;
}

.image-container{
  border: 1px solid #ced4da;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.job-subimage-container{
  height: 80px;
}

.hidden-inputs {
  display: none;
}