.banner{
    width: 100%;
    height: 500px;
    background-color: #3258A3;
}

.banner-area{
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.banner-letter-area{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin-top: 90px;
    padding-left: 40px;
    
}
.banner-letter{
    margin-left: 5px;
    font-size: 20px;
    color: white;
}

.banner-letter2{
    margin-top: 18px;
    font-size: 50px;
    color: white;
}

.banner-letter3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    margin-top: 30px;
    background-color: rgba(240, 248, 255, 0.082);
    color: white;
    border-radius: 30px;
    font-size: 14px;
}

.banner-slice-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    
}

.banner-slice{
    width: 500px;
    box-shadow: 0px 0px 3px 1px rgba(99, 99, 99, 0.63);
    border-radius: 8px;
    overflow: hidden;
}

.carousel-item{
    width: 500px;
}

.carousel-item > img{
    height: 370px;
    width: 500px;
    background-color: #5e7bb4;
}

main{
    margin-bottom: 60px;
}

.main-category{
    width: 1000px;
    margin: auto;
}

.main-category-area{

    margin-top: 100px;
}

.main-category-title{

    font-size: 25px;
    margin-bottom: 30px;
    color: rgb(84, 84, 84);
}

.main-category-detail{
    display: grid;
    width: 1000px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.main-category-detail-can{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(116, 116, 116, 0.25);
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.main-category-detail-can > img {
    width: 90px;
}

.main-category-detail-can > div{
    color: black;
    margin-top: 20px;
}
.favorite-category{
    width: 1000px;
    margin: auto;
}

.favorite-category-area{
    margin-top: 100px;
}

.favorite-category-title{
    font-size: 25px;
    margin-bottom: 30px;
    color: rgb(84, 84, 84);
}

.favorite-category-detail{
    display: flex;
}