article {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
}

article > div{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2.5fr 7fr;
    background-color: #eeeded;
}

article .article_area {
    display: flex;
    justify-content: center;
    align-items: center;
}

article #article_area_1 {
    margin-top: 15px;
    width: 801px;
    height: 190px;
}

article #article_area_2 {
    width: 801px;
    height: 592px;
}


article .container_admin {
    width: 757px;
    height: 100%;
    box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    justify-content: center;
    background-color: #FDFDFD;
    
}

article #container_area_1 {
    height: 100%;
}

article #container_area_2 {
    height: 550px;
}

article .container_admin > div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

article .subtitle {
    width: 90%;
    height: 70px;
    margin: 0 auto;
    border-bottom: 1px solid #8d8d8d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article .statistics > #statistics_1 {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    
}




article .statistics #statistics_1 td,th {
    vertical-align: middle;
    color: #525252;
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
}

article .statistics th {
    width: 50%;
    height: 55px;
}



article .statistics #statistics_1 td:nth-child(n+2),th:nth-child(n+2) {
    border-left: 2px solid #bebdbd;
}

article .statistics #statistics_1 td {
    font-size: 30px;
    vertical-align : top;
}

article .statistics {
    width: 90%;
    margin: 0 auto;
    height: calc( 100% - 70px );
    
}

article table {
    position: relative;
    width: 100%;
    height: 100%;
       
}

article thead {
    width: 100%;
    
}





article tbody.scroll_tbody {
    display: block;
    width: 681.297px;
    height: calc( 100% - 85px);
    
    overflow: scroll;
    
}

thead.scroll_tbody,
tbody.scroll_tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    
}

.scroll_tbody:first-child > tr {
    box-shadow: 0px 3px 0px 0px #E4E4E4;
    position: relative;
    z-index: 99;
}

article .statistics_100 {width: 100%;}
article .statistics_list2 th,td {
    width: 33%;
    height: 65px;
    border-left: 0px;
    text-align: center;
    vertical-align: middle;
}

article .statistics_list_2 th,td {
    width: 25%;
    height: 65px;
    border-left: 0px;
    text-align: center;
    vertical-align: middle;
}

article .statistics_list th{
    color: #656262;
    font-size: 20px;
    font-weight: 700;
}

article .statistics_list td{
    color: #626262;
    font-size: 15px;
    font-weight: 500;
    vertical-align: middle;
}

article #article_area_3 {
    width: 757px;
    height: 95%;
    display: grid;
    grid-template-areas: 
    "admin_box admin_box"
    "admin_box2 admin_box2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1fr;
    margin: 0 auto;
    justify-items: end;
}

article #container_area_3 {
    width: 98.5%;
    height: 97%;
}
article #container_area_3:first-child {justify-self: start;}
article #container_area_3:nth-child(odd) {justify-self: start;}
article #container_area_3:last-child {justify-self: end;}

.admin_box {
    grid-area: admin_box;
}

.admin_box .subtitle {
    justify-content: space-between;
}

.admin_box2 {
    grid-area: admin_box2;
}

.admin_box #memebr_color{
    font-size: 15px;
    display: block;
    bottom: 0px;
    color: #333333;
}

.admin_box #memebr_color div:first-child > span:first-child{
    color: #1F77B4;
}
.admin_box #memebr_color div:nth-child(2) > span:first-child{
    color: #FF7F0E;
}

.statistics_chart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart { 
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    transition: 0.1s;
    
}



span.center { 
    background: #fff;
    display: block; 
    position: absolute; 
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    transform: translate(-50%, -50%); 
}

h3 {
    font-size: 25px;
    font-weight: 800;
    margin-left: 20px;
}



article .statistics th.table_type_1 {
    width: 33%;
    height: 55px;
    
}


#members_cnt {
    justify-content: space-between;
}

.subtitle > div {
    color: #585858;
    text-align: end;
    font-size: 15px;
    font-weight: 600;
}

/* .subtitle > div > div:last-child {
    color: #7D7D7D;
    font-size: 20px;
} */


.table_type_2 td:last-child > span {
    color: #F36969;
}

article .statistics_rank {
    width: 80%;
    display: grid;
    grid-template-rows: repeat(3,1fr);  
    align-items: center;
    font-size: 15px;
}

.statistics_rank > div > span {
    font-size: 16px;
    color: #656262;
    font-weight: 600;
}

.statistics_rank > div > span:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
}

#member_color span {
    color: #585858;
    text-align: end;
    font-size: 15px;
    font-weight: 600;
}

.statistics_rank > div:nth-child(1) > span:first-child {color: #E4AA14;}
.statistics_rank > div:nth-child(2) > span:first-child {color: #AAAAAA;}
.statistics_rank > div:nth-child(3) > span:first-child {color: #7D6933;}
.list_box {overflow: scroll;}

article tbody.scroll_tbody tr {
    border-right: 7px solid #ffbb2700;
    border-radius: 5px;
    box-sizing: border-box;
}

article tbody.scroll_tbody tr:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
    scale: 1.003;
}

button#openModalBtn {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    color: #353535;
    background-color: #FFD15A;
    background-image: linear-gradient(to right, #ffdf8d 50%, #FFD15A 50%);
    background-size: 200% 100%;
    transition: background-position 0.3s ease;
}

button#openModalBtn:hover {
    background-position: -100% 0;
}

article .tatistics_list_2  thead th {
    height: 50px;
}

.statistics_list_2 .thead_50 th {
    height: 50px;
}

/*----------------------------------*/
.vibration {
    animation: vibration 0.1s infinite;
}

@keyframes vibration {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

/*----------------------------------*/
.modal, .noticeDetail {
    display: none; /* 모달창은 처음에 숨김 */
    position: relative;
    z-index: 99; /* 다른 요소보다 위에 위치 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 스크롤 가능하게 함 */
    background-color: rgba(0,0,0,0.4); /* 배경을 어둡게 함 */

}

.modal-content, .modal-content {
    position: fixed; /* 모달창을 고정 위치에 띄움 */
    background-color: #fefefe; /* 모달창 배경색 */
    width: 900px;
    height: 850px;
    padding: 20px;
    border: 1px solid #888;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-rows: 30px 1.2fr 0.5fr 7fr 1fr;
    grid-template-areas: 
        "cs cs cs"
        "h1 h1 h1"
        "dv dv dv"
        "sn sn sn"
        "sb sb sb"
    ;
}

.close {
    grid-area: cs;
    height: 30px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    grid-column: span 3;
    display: flex;
    justify-content: end;
    }
    
    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    }

.modal h1 {
    grid-area: h1; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

.modal #modal_div {
    grid-area: dv; 
    width: 100%;
    height: 100%;
    border-top: 3px solid #cdcdcd;
    border-bottom: 3px solid #cdcdcd;
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    justify-self: center;
    align-self: center;
}

#modal_div select,input ,.nDC {
    border: none;
}

#modal_div select ,.nDC{
    text-align: center;
}

#modal_div input {
    font-size: 25px;
    color: #242424;
    font-weight: 700;
    padding: 5PX;
}

#modal_div select:focus,input:focus {
    outline: #aaa;
}

.modal #submitBtn , #submitBtn1{
    border-radius: 10px;
    width: 15%;
    height: 85%;
    grid-column: span 3;
    grid-area: sb;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: #273F6D;
    color: #fefefe;
    justify-self: center;
}

#modal_div select,input ,.nDC {
    border: none;
}

#modal_div select ,.nDC{
    text-align: center;
}

#modal_div input {
    width: 100%;
    font-size: 25px;
    color: #242424;
    font-weight: 700;
    padding: 5PX;
}

#modal_div select:focus,input:focus {
    outline: #aaa;
}




:disabled {
    background-color: #fefefe;
    border: 1px solid rgba(128, 128, 128, 0.5);
    color: #242424;
}

select:disabled {
    border:none;
    border-radius:0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:url(../) no-repeat 80% 50%;
}


/* FAQ 모달 */
.FAQ_modal {
    grid-template-rows: 30px 1.2fr 2fr 7fr 1fr; 
    grid-template-areas: 
        "cs cs cs"
        "h1 h1 h1"
        "dv dv dv"
        "sn sn sn"
        "sb sb sb"
    ;
}

.FAQ_detail #h1_area {
    grid-area: h1; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
}

#cat_select_FAQ{
    font-size: 50px;
    font-weight: 900;
    font-style: bolder;
    color: #343434;
}

.FAQ_detail #modal_div {
    grid-template-columns: 4fr 1fr !important;
    vertical-align: middle;
}

textarea[name="title"] {
    width: 658.391;
    height: auto;
    border:none;
    border-radius:0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    font-size: 30;
    font-weight: 500;
    resize: none;
    justify-self: flex-start;
    align-self: center;
    vertical-align: middle ;
   
}

#faq_Hit{
    justify-self: center;
    align-self: center;
   
}


textarea[name="title"]:focus {
    border:none;
    border-radius:0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.FAQ_detail #modal_div input {
    font-size: 20;
    font-weight: 500;
}

.modal_content_area {
    width: 100%;
    grid-column: span 3;
    padding: 10;
}



div input#search_input {
    width: 100;
    height: 50;
    border-radius: 8px;
    border: 2px solid #898f9a;
    background-color: #eeeeee;
    font-weight: 600;
    text-align: center;
    animation-duration: 100ms;
    animation-timing-function: cubic-bezier(.17,.67,.83,.67);
    animation-fill-mode: forwards; 
    color: transparent;
    text-shadow: 0 0 0 #434e61;
}

div input#search_input:hover {
    background-color: #FDFDFD;
    border-color: #898f9a;
    scale: 1.01;
}

div input#search_input:focus {
    border-radius: 10px;
    outline: none !important;
    border-color: #2a3342;
    animation-name: search_input_Anima;
    animation-duration: 70ms;
    animation-timing-function: cubic-bezier(.17,.67,.83,.67);
    animation-fill-mode: forwards; 
    background-color: #FDFDFD;
    
}

@keyframes search_input_Anima{
    0% {
        scale: 1;
    }

    50% {
        scale: 1.01;
    }

    100% {
        scale: 1.05;
        height: 37;
        width: auto;
    }
}

#msgTbody {
    text-align: center;
}

/* ===================================
/* 썸머노트 */
.note-toolbar {
    display: none;
}

.note-editor.note-frame .note-editing-area .note-editable[contenteditable=false], .note-editor.note-airframe .note-editing-area .note-editable[contenteditable=false] {
    background-color: #80808000;
    
}

.note-editor.note-frame {
    overflow: hidden;
}

