body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f3334;
}

#wrap{
    position: fixed;
    width: 1000px;
    height: 969px;

    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    box-sizing: border-box;

    display: grid;
    grid-template-areas: 
    "aside header"
    "aside article";
    grid-template-columns: 199px 4fr;
    grid-template-rows: 142px 827px;
    justify-content: center;
}

header{
    height: 142px;
    grid-area: header;
    background-color: #fafafa;
    
    /* border-bottom: 3px solid #1f3256c5; */
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.097);
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    color: #343434;
}

aside{
    grid-area: aside;
    background-color: #273F6D;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1.5fr 1.7fr 7fr;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
}

#logo-area {
    height: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.212);
    box-sizing: border-box;
}

#logo-area > div {
    margin: auto;
    width: 181px;
    height: 62.70px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    overflow: hidden;
}

#logo-area > div > img {
    margin-top: 7px;
    width: 139px;
    height: 105px;
    object-fit: cover;
    transform: translate(50,50);
} 

.side_meue {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#side_1 {
    height: 162px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
}

#side_1 > ul {
    margin:  0 auto;
    margin-left: 50px;
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}

#side_2 {
    height: 500px;
}

#side_2 > ul {
    justify-self: self-start;
}

li {
    display: flex;
    align-items: center;
    height: 50px;
}

a {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #fafafa;
}

article{
    grid-area: article;
    background-color: #fafafa;
}