main{
    width: 1000px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
}

.nav-myinfo-area{
    width: 120px;
    height: 35px;
    margin-left: 60px;
}

.nav-myinfo-area > ul{
    margin-top: 20px;
}

.nav-myinfo-area > ul > li{
    margin-top: 10px;
}

.nav-myinfo-area > ul > li > a{
    color: black;
    text-decoration: none;
}

.nav-myinfo-title{
    padding-bottom: 10px;
    border-bottom: 3px solid #F8C925;
    font-size: 20px;
}

.changepwd-area{
    margin-left: 60px;
}

.changepwd-title{
    font-size: 30px;
}

.changepwd-body{
    margin-top: 40px;
    width: 800px;
    display: flex;
    flex-direction: column;
}

select option[value=""][disabled] {
	display: none;
}

.password-text{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
}

input[name='memberPwd']{
    border-radius: 6px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 700px;
    height: 60px;
    border: 1px solid #7C7C7C;
}

input[name='changePwd']{
    border-radius: 6px;
    padding-left: 20px;
    height: 60px;
    border: 1px solid #7C7C7C;
}

input[name='changePwd2']{
    border-radius: 6px;
    padding-left: 20px;
    height: 60px;
    border: 1px solid #7C7C7C;
}

.expertinfo-submit-btn{
    margin-top: 60px;
    width: 700px;
    display: flex;
    justify-content: end;
}

.expertinfo-submit-btn > input{
    border: none;
    border-radius: 6px;
    width: 200px;
    height: 60px;
    background-color: #F8C925;
    font-size: 20px;
}

.changepwd-input-area{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 330px 330px;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}



