.wrap{
    width: 1000px;
    margin: auto;
}

.logo-icon{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
    margin-bottom: 5px;
}

.logo-iconimg > img{
    width: 250px;
}

.normal-join-area{
    width: 600px;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 8px;
    margin: auto;
}

.join-area{
    margin-bottom: 50px;

}

.join-title{
    margin-top: 50px;
    font-size: 40px;

    display: flex;
    justify-content: center;
}

.join-form-area{
    width: 450px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.join-form-text{
    margin-top: 40px;
    margin-left: 10px;
    font-size: 20px;
    color: 636363;
    margin-bottom: 15px;
}

.join-form-input{
    height: 60px;
    padding-left: 20px;
    border-radius: 8px;
    border: 1px solid #8D8D8D;
}

.join-form-input3{
    height: 60px;
    width: 350px;
    padding-left: 20px;
    border-radius: 8px;
    border: 1px solid #8D8D8D;
    display: inline-block;
    margin-right: 5px;
}

.duplication-btn{
    border-radius: 8px;
    border: none;
    display: inline-block;
    width: 90px;
    height: 60px;
}

.join-form-input2{
    height: 60px;
    padding-left: 20px;
    border-radius: 8px;
    border: 1px solid #8D8D8D;
}

input[type="submit"]{
    margin-top: 20px;
    height: 60px;
    border-radius: 8px;
    background-color: #FCD82D;
    border: none;
    font-size: 18px;
}

#check-id-availability{
    margin-left: 10px;
    margin-top: 10px;
}

#check-pwd1-availability{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#check-pwd2-availability{
    margin-left: 10px;
    margin-top: 10px;
}

#check-nick-availability{
    margin-left: 10px;
    margin-top: 10px;
}