main{
    width: 1000px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
}

.nav-customer-area{
    width: 200px;
    height: 500px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
}

.profile-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img{
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 70%;
    overflow: hidden;
    margin-bottom: 20px;
}

.profile-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-nick{
    font-size: 25px;
}

.profile-btn{
    margin-top: 20px;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    background-color: #F8C925;
    font-size: 18px;
    color: black;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.nav-customer-area > ul{
    margin-top: 20px;
}

.nav-customer-area > ul > li{
    margin-top: 10px;
}

.nav-customer-area > ul > li > a{
    color: black;
    text-decoration: none;
}

.nav-customer-title-area{
    margin-top: 40px;
    width: 150px;
    padding-bottom: 10px;
    border-bottom: 3px solid #3258A3;
    font-size: 20px;
}

.grade-area{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.grade-title{
    font-size: 25px;
}

.grade-title-sub-area{
    margin-top: 30px;
    margin-left: 10px;
}

.grade-title-sub{
    font-size: 25px;
}

.grade-current-title{
    margin-top: 30px;
    font-size: 18px;
}

.grade-current-area{
    display: grid;
    margin-top: 20px;
    margin-left: 10px;
    width: 620px;
    height: 260px;
    grid-template-columns: 1.2fr 2fr;
    grid-template-areas:  
        " sale  grade "
        " money  grade ";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.grade-current-sale{
    border-radius: 8px;
    grid-area: sale;
    border: 1px solid #B6B6B6;
    padding: 20px;
}

.grade-current-money{
    border-radius: 8px;
    grid-area: money;
    border: 1px solid #B6B6B6;
    padding: 20px;
}

.grade-current-grade{
    border-radius: 8px;
    grid-area: grade;
    border: 1px solid #B6B6B6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grade-list-area{
    margin-top: 20px;
    width: 620px;
    height: 600px;
    border: 1px solid #B6B6B6;
    border-radius: 10px;
}

.grade-current-num{
    margin-left: 5px;
    margin-top: 30px;
    font-size: 25px;
}

.grade-current-gradeimg{
    width: 240px;
}