tbody #catEditBtn {
    width: 80%;
    height: 30px;
    border:none;
    border-radius: 10px;
    background-color: #fdd570;
}

article .statistics_list_2 th {
    height: 10px;
}

button#openModalBtn {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    color: #353535;
    background-color: #FFD15A;
}

article tbody.scroll_tbody{
    height: calc( 100% - 25px);
}

.meddle_cat_box {
    display: none;
    grid-auto-flow: column;
   
    width: 100%;

    background: coral;

    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#meddle_cat_box_2 {
    display: grid;
    grid-auto-flow: row;
   
    width: 100%;

    background: coral;

}