#NCunt_0{
    color: #dddddd;
}


#YCunt_0{
    color: #dddddd;
}

span.NCunt{
    color: #e56c57;
}

td.NCunt{
    animation: 0.3s;
}


td.NCunt:hover{
    background-color: #f2eaea;
    border-radius: 10px 0 0 10px;
    animation-name: example-animation;
    animation-fill-mode: forwards;
}
td.NCunt:hover > span{
    scale: 1.05;
}

td.YCunt{
    animation: 0.3s;
}

td.YCunt:hover{
    background-color: #e8e8e8;
    border-radius: 0 10px 10px 0;
    animation-name: example-animation;
    animation-fill-mode: forwards;
}
td.YCunt:hover > span{
    scale: 1.05;
}

@keyframes example-animation {
    0% {}
    100% {
        padding: 10px;
    }
  }


/*  */
.note-modal-backdrop{
    z-index: 1;
}
.note-editor.note-frame{
    grid-area: sn;
    resize: none;
    justify-self: center;
    align-self: center;
    grid-column: span 3;
    overflow: hidden;
}



.note-editable{
    width: 836PX;
    height: 100%;
    /* max-height: 455.208; */
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note-statusbar {
    display: none;
}


.note-toolbar {
    display: none;
}

.note-editor.note-frame .note-editing-area .note-editable[contenteditable=false], .note-editor.note-airframe .note-editing-area .note-editable[contenteditable=false] {
    background-color: #80808000;
    
}

.note-editing-area {
    max-height: 430;
}

#div_area{
    width: 100%;
    height: 100%;
}

.modal, .noticeDetail {
    display: none; /* 모달창은 처음에 숨김 */
    position: relative;
    z-index: 99; /* 다른 요소보다 위에 위치 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 스크롤 가능하게 함 */
    background-color: rgba(0,0,0,0.4); /* 배경을 어둡게 함 */
    
}

/* 모달 */
.modal-content, .modal-content {
    position: fixed; /* 모달창을 고정 위치에 띄움 */
    background-color: #fefefe; /* 모달창 배경색 */
    width: 900px;
    height: 850px;
    padding: 20px;
    border: 1px solid #888;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: grid;
    grid-template-rows: 30px 1.2fr 0.5fr 4.6fr  1fr;
    grid-template-areas: 
        "cs cs cs"
        "h1 h1 h1"
        "dv dv dv"
        "dc dc dc"
        "sb sb sb"
    ;
    }


button.inquiry_edit_btn {
    border-radius: 10px;
    width: 15%;
    height: 85%;
    grid-column: span 3;
    grid-area: sb;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: #273F6D;
    color: #fefefe;
    justify-self: center;
}


div#modal_div {
    height: 250px !important;
}

.inquiry_Q{
    display: flex;
    max-height: 145px;
    overflow: scroll;
    padding: 5;
    margin-top: 5px;
}

.content_Q {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    border-left: 10px solid #f7d661;
}

.content_Q > select {
    padding: 5;
    margin-left: 3;
}

.content_A {
    grid-column: 3 span;
    width: 100%;
    padding: 5;
}

.content_A >input {
    width: 100%;
    font-size: 25px;
    color: #242424;
    font-weight: 700;
    padding: 5;
    padding-bottom: 10px;
    border-left: 10px solid #4566a7;
}

.modal #modal_div {
    grid-template-columns: 1fr;
    border-bottom: 2px solid #e7e7e7;
}

#modal_div input {
    width: 100%;
    font-size: 25px;
    color: #242424;
    font-weight: 700;
    padding: 5PX;
    padding-bottom: 10px;
}



.inquiry_A{
    display: flex;
    height: 250;
    width: 100%;
    height: 80%;
    overflow: scroll;
    padding: 5;
    margin-top: 5px;
    border: 3px solid #e9e9e9;
}

.content_A_area {
    grid-column: 3 span;
    width: 100%;
    padding: 5;
}

.Q_title_header{
    display: flex;
    width: 100%;
}

.Q_title_header_info {
    font-size: 15;
    padding: 10;
    color: #797979;
    display: grid;
    justify-items: end;
}

.Q_title_header_info hr{
    color: #ffffff00;
    margin: 10;
}