article tbody.scroll_tbody .tr_backColor_1 {
    background-color: #FDFDFD;
}

article tbody.scroll_tbody .tr_backColor_3 {
    background-color: #f5f2ef;
    border-color:  #fbcd6a;
    color: #a5a19a;
}

article tbody.scroll_tbody .tr_backColor_3:hover {
    background-color: rgba(249, 202, 152, 0.561);
    color: #212529;
}

article tbody.scroll_tbody .tr_backColor_4 {
    background-color: #f1dfdd;
    border-color: #f56767;
    color: #b18d8d;
}

article tbody.scroll_tbody .tr_backColor_4:hover {
    background-color: #e9665a79;
    color: #212529;
}

article tbody.scroll_tbody .tr_backColor_3:hover {
    background-color: rgba(249, 202, 152, 0.561);
    color: #212529;
}

article tbody.scroll_tbody .tr_R10 {
    border-radius: 5px ;
}
