article tbody.scroll_tbody .tr_backColor_1 {
    background-color: #FDFDFD;
}

article tbody.scroll_tbody .tr_backColor_3 {
    background-color: #f5f2ef;
    border-color:  #fbcd6a;
    color: #a5a19a;
}

article tbody.scroll_tbody .tr_backColor_3:hover {
    background-color: rgba(249, 202, 152, 0.561);
    color: #212529;
}

article tbody.scroll_tbody .tr_backColor_4 {
    background-color: #f1dfdd;
    border-color: #f56767;
    color: #b18d8d;
}

article tbody.scroll_tbody .tr_backColor_4:hover {
    background-color: #e9665a79;
    color: #212529;
}

article tbody.scroll_tbody .tr_backColor_3:hover {
    background-color: rgba(249, 202, 152, 0.561);
    color: #212529;
}

article tbody.scroll_tbody .tr_R10 {
    border-radius: 5px ;
}

#div_area{
    width: 100%;
    height: 100%;
}

.modal, .noticeDetail {
    display: none; /* 모달창은 처음에 숨김 */
    position: relative;
    z-index: 99; /* 다른 요소보다 위에 위치 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 스크롤 가능하게 함 */
    background-color: rgba(0,0,0,0.4); /* 배경을 어둡게 함 */
    
}


.modal-content {
    position: fixed;
    background-color: #fefefe;
    width: 900px;
    height: 850px;
    padding: 20px;
    border: 1px solid #888;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: 30px 1.2fr 1.2fr 0.5fr 6fr 1fr;
    grid-template-areas:
        "cs cs cs"
        "h1 h1 h1"
        "pa pa pa"
        "dv dv dv"
        "sn sn sn"
        "sb sb sb";
}


.modal #modal_div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.2fr;
    place-items: center center; 
    padding: 17px;
}

.memberId_area{
    font-size: 30;
    font-weight: 600;
}

.mNO {
    
    align-self: center;
}

.memberProfilePhoto_area {
    grid-area: pa;
    position: relative;
    width:100;
    height: 100;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    justify-self: center;
    background-color: #eeeeee;
    margin: 10;
}


.modal #submitBtn , #submitBtn1{
    border-radius: 10px;
    width: 15%;
    height: 85%;
    grid-column: span 3;
    grid-area: sb;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: #ffcccc;
    color: #dbc9c9;
    justify-self: center;
}

.modal #submitBtn:hover {
    background-color: #f34646;
    color: #444444;
}


.modal_subMain_box{
    width: 858;
    display: flex;
    align-items: center;
    background-color: #eeeded;
    justify-content: center;
    justify-self: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal_subMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    background: #fefefe;
    border-radius: 10px;
    width: 90%;
    height: 100%;
}

.modal_subMain > div{
    justify-self: center;
    align-self: center;
    width: 80%;
    padding: 3px;
    border-bottom: 1px solid rgba(201, 201, 201, 0.586);
    font-size: 15;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal_subMain > div:first-child,
.modal_subMain > div:nth-child(2)
 {
    margin-top: 5px;
}

.memberProfilePhoto{
    position: absolute;
    max-width: 100;
    max-height: 100;
    object-fit: cover;
}

