.main {
    width: 100%;
    height: 800px;
}

/* 메인 박스~ */
.post-write-box{
    width: 950px;
    height: 700px;
    display: flex;
    margin: 10px auto;
}

/* 주제 선택 상자 */
.topic-select-box{
    width: 100px;
    height: 70px;
    text-align: center;
    font-size: 20px;
    border: none;
}

/* 제일 위로 글쓰기 제목 올림 */
.write-box-set{
    width: 950px;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 10px auto;
}

/* 제목 적는 상자~ */
.title-text-box{
    width: 100%;
    border: none;
}

/* ckeditor css */

/* 툴바의 너비 조절 */
.ck.ck-editor {
    width: 950px;
    margin: 0 auto;
}

/* 에디터의 높이 제한 */
.ck-editor__editable {
    height: 60vh;
}

/* 이미지를 왼쪽에 정렬 */
.ck-content figure.image {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    width: calc(25% - 30px); /* 네 개의 이미지가 한 줄에 맞도록 너비 조절 */
}

/* 우선순위로 이미지의 최대 너비와 높이 설정 */
.ck-content figure.image img {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

/* 이미지를 감싸는 <p> 태그 제외 */
.ck-content p {
    display: inline;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

/* 각 줄 뒤에 플로트를 해제 */
.ck-content::after {
    content: '';
    display: table;
    clear: both;
}



.form_section_content select {		/* 카테고리 css 설정 */
    width: 92%;
    height: 35px;
    font-size: 20px;
    text-align-last: center;
    margin-left: 5px;
}
.cate_wrap span {
    font-weight: 600;
}
.cate_wrap:not(:first-child) {
    margin-top: 20px;
}







