.main {
    width: 100%;
    height: 1100px;
}

/*  회색 박스입니다 ~*/
/* 커뮤니티 헤더칸 (커뮤니티, 글을 올려 소통해보세요~)  */
.community-title-box{
    width: 100%;
    height: 120px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items : center;
    border-bottom: 1px solid;
}


/* 글자 감싸는 칸 */
.community-header-content {
    width: 950px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

/* 커뮤니티 제목입니다. */
.community-title{
    width: 950px;
    height: 20px;
    font-weight: bold;
    font-size: 40px;
}

/* 주제입니다*/
.community-desc-content{
    width: 950px;
    height: 20px;
    font-size: 16px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}


/*  커뮤니티 글보는 메인칸입니다*/
.community-detail-box{
    width: 950px;
    height: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 1px solid;
}

/* 사용자 정보 박스 담을 칸 ~ */
.detail-userinfo-box{
    width: 950px;
    height: 150px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid;
}

/* 사용자 정보 박스 */
.g-0{
    width: 500px;
    height: 100px;
}

/* 게시글 내용입니다. */
.community-detail-board-info-box{
    width: 950px;
    height: 800px;
}

/* 게시글 댓글 감싸는 상자 */
.community-detail-reply-content-box {
    width: 950px;
    height: 250px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* 댓글 감싸는 상자 */
.community-comment-reply-box {
    width: 950px;
    height: auto;
    max-height: 250px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.comment-list {
    max-height: 150px;
    overflow-y: auto;
    margin-top: 10px;
}

.img-seller{
    width: 90px;    
}

.community-comment-box {
    overflow-y: auto; /* 세로 스크롤을 표시하고 필요한 경우에만 스크롤바를 보여줍니다 */
    scrollbar-width: thin; /* 스크롤바 너비를 조정합니다 */
    scrollbar-color: #888888 #f0f0f0; /* 스크롤바의 색상을 조정합니다 */
  }
  
  .community-comment-box::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비를 조정합니다 */
  }
  
  .community-comment-box::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* 스크롤바 트랙의 배경색을 조정합니다 */
  }
  
  .community-comment-box::-webkit-scrollbar-thumb {
    background-color: #888888; /* 스크롤바의 색상을 조정합니다 */
  }

/* ckeditor */
/* 툴바의 너비 조절 */

.ck.ck-editor {
    width: 950px;
    margin: 0 auto;
    }
    
.ck-editor__editable {
height: 60vh;
}

.ck-content figure.image {
display: inline-block;
vertical-align: top;
margin-right: 30px;
width: calc(25% - 30px);
}

.ck-content figure.image img {
width: 100%;
height: auto;
max-width: 200px;
max-height: 200px;
}

.ck-content p {
display: inline;
margin: 0;
padding: 0;
white-space: nowrap;
}

.ck-content::after {
content: "";
display: table;
clear: both;
}

/* 이미지 크기 제한 */
img {
    max-width: 200px !important;
    max-height: 200px !important;
}

.textcontent{
    width: 100%;
    resize: none;
}