.purchase-area {
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* 수평 정렬 */
.horizontal-alignment {
    display: flex;
}

/* 프로젝트 정보 */
.project-info {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}
/* 프로젝트 썸네일 */
.project-thumbnail {
    width: 125px;
    height: 95px;
    background-color: gray;
}
/* 프로젝트명 */
.project-title {
    font-size: 36px;
}
/* 프로젝트 설명 */
.project-explanation{
    width: 750px;
    font-size: 20px;

    overflow-x: auto;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}
.project-explanation::-webkit-scrollbar {
    display: none;
}

/* 구매 테이블 */
.purchase-table {
    width: 900px;
}

.purchase-table-head {
    font-size: 24px;
    margin: 10px 0;
    padding-top: 10px;
    border-top: 2px solid black;
}

.purchase-table-body {
    font-size: 20px;
    margin: 10px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.table-body-elem{
    margin: 10px 0;
}

.btn-row {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.add-elem {
    width: 30px;
    height: 30px;
    font-size: 25px;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
}

.add-elem-inactive {
    visibility: hidden;
}

.remove-elem {
    width: 30px;
    height: 30px;
    font-size: 25px;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;

    visibility: hidden;
}

.remove-elem-active {
    visibility: visible;
}

.purchase-table-footer {
    font-size: 28px;
    padding-bottom: 10px;
    justify-content: space-between;
    border-bottom: 2px solid black;
    border-spacing: 5px;
}
.total-day {
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.total-pay {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.table-subhead {
    text-align: center;
}

.purchase-item {
    width: 500px;
}

.purchase-quantity {
    width: 100px;
    display: flex;
    justify-content: center;
}
.quantity-input {
    width: 50px;
}

.purchase-day {
    width: 150px;
}

.purchase-price {
    width: 150px;
}

.align-center {
    text-align: center;
}

.align-end {
    text-align: end;
}

/* ----------------------------------------- */

.purchase-method-title {
    font-size: 24px;
    padding: 40px 0;
}

/* 결제 수단 */

.purchase-method {
    justify-content: space-evenly;
}

.method-radio-div {
    display: flex;
    visibility: hidden;
}

.purchase-method-elem  {
    font-size: 20px;
    line-height: 2;
    width: 225px;
    text-align: center;
    border-bottom: 1px solid rgb(248,201,37);
    cursor: pointer;
}

/* 액티브 */
.method-elem-active {
    border-top: 1px  solid rgb(248,201,37);
    border-right: 1px  solid rgb(248,201,37);
    border-left: 1px  solid rgb(248,201,37);
    border-bottom: 0px solid transparent;
}
/**/
/* .method-elem-inactive {
    border-top: 0px  solid transparent;
    border-right: 0px  solid transparent;
    border-left: 0px  solid transparent;
    border-bottom: 1px solid rgb(248,201,37);
} */


.purchase-method-detail {
    width: 900px;
    height: 300px;
    border: 1px solid rgb(248,201,37);
    border-top: 0px solid transparent;
    border-top: 0px solid transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.purchase-detail-area {
    width: 800px;
    height: 200px;

    display: flex;
    flex-direction: column;
}

.purchase-method-select {
    display: flex;
    flex-direction: column;
}

.purchase-method-info {
    font-size: 20px;
    height: 50px;
    line-height: 2;
}

.horizontal-border {
    width: 800px;
    height: 1px;
    margin-bottom: 20px;

    border-bottom: 1px solid rgb(0, 0, 0);
}

.holding-point-area {
    height: 30px;

    display: flex;
    justify-content: space-between;

    font-size: 18px;
}

.deficient-point-area {
    height: 30px;

    display: flex;
    justify-content: space-between;

    font-size: 18px;
}

.cash-charge-btn {
    width: 150;
    height: 50px;
    margin-top: 65px;
    font-size: 22px;
    background-color: rgb(248,201,37);
    border: 0px solid transparent;
    align-self: center;
}


/* 구매하기 버튼 */
.purchase-btn {
    width: 200;
    height: 65px;
    margin: 50px 0;
    font-size: 28px;
    background-color: rgb(248,201,37);
    border: 0px solid transparent;
    align-self: center;
}

